@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.card {
  width: 250px;
  height: 320px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3aa39f 100%);
  border-radius: 20px;
  transition: all .3s;
 }
 
 .card2 {
  width: 250px;
  height: 320px;
  background-color: white;
  border-radius: 15px;
  transition: all .2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
 }

 .card2:hover {
  transform: scale(0.98);
  border-radius: 19px;
 }
 
 .card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
 }
 .viewBtn{
  position: absolute;
  right: 0.7rem;
  top: 0.7rem;
 }
 .heading,.price{
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding-top: 10px;
 }
 .details{
  width: 120px;
  height: 50px;
  padding: 10px 0px;
  font-size: 10px;
  font-weight: 600;
 }
 .btn1 {
  margin-top: 10px;
  position: relative;
  width: 150px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #3aa39f;
  background-color: #3aa39f;
}
.btn1, .btn1__icon, .btn1__text {
  transition: all 0.3s;
}
.added{
  background-color: red;
}
.btnicon{
  background-color: red;
}
.btn1 .btn1__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.btn1 .btn1__icon {
  position: absolute;
  transform: translateX(104px);
  height: 100%;
  width: 39px;
  /* background-color:#4951d7; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn1 .svg {
  width: 30px;
  stroke: #fff;
}
.btn1:hover .btn1__text {
  color: transparent;
}

.btn1:hover .btn1__icon {
  width: 143px;
  transform: translateX(0);
}

.btn1:active .btn1__icon {
  background-color: #3aa39f;
}

.btn1:active {
  border: 1px solid #3aa39f;
}
 /* .btn1{
  margin-top: 10px;
  background-color: #5672f9;
  border: 3px solid #8086e3;
  border-radius: 6px;
  color: white;
  height: 25px;
  width: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 11px;
  transition: all .3s;
 }
 .btn1:hover{
  letter-spacing: 1px;
 } */