@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.containerDetails {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  padding-top: 80px;
  padding-bottom: 30px;
  position: relative;
  flex-direction: column;
  gap: 25px;
  background-color: white;
}
.photo1 {
  max-width: 250px;
  max-height: 260px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.header1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 0px 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 60%;
}
.details1{
    width: 50%;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.count1{
    font-size: 1rem;
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
    row-gap: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    /* background-color: red; */
    font-family: 1rem;
}
/* .catogory1,.rating1,.sale1{
    background-color: black;
    color: yellow;
} */

@media screen and (max-width: 500px) {
    .photo1{
        max-width: 100px;
        max-height: 150px;
    }
    .header1{
        font-size: 1.1rem;
        width: 90%;
    }
    .details1{
        width: 70%;
        font-size: 0.7rem;
    }
    .count1{
        margin-top: 0px;
        font-size: 0.8rem;
        width: 80%;
        justify-content: center;
        column-gap: 10px;
    }
}